.center {
    margin: auto;
    width: 60%;
    padding: 10px;
  }

#page-container{
    position:relative;
    min-height: 1000px;
}

body{
    color:#091833;
    width:100%;
}

header{
    width:100%;
}


h1.intro-text{
    font-family: 'Permanent Marker', cursive;
    text-align: center;
    color:white;
}

h2{
    font-family: 'Permanent Marker', cursive;
    text-align: center;
    color:white;
}
h4{
color:#091833;
text-align: center;
}



#headerSubText{
    color:#FFCE00;
    text-align: center;
}

#rules{
    text-align:center;
}

h5{
    margin: 10px 0 0 0 ;
    text-align: center;
}

h6{
    text-align: center;
}
/* 
#background2{
    height:auto;
} */

#background2{
    height:100%;
}

img{
    max-width:30%;
    min-width: 30%;
    float:left;

}

div.jumbotron.jumbotron-fluid{
    /* margin: auto; */
    background-color:#091833;
    color:white;
    width:100%;
}

div.jumbotron{
    /* margin: auto; */
    background-color:#091833;
    color:white;
    width:100%;
}

#prizePackDiv{
    float:right;
}



#footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    padding:1%;
    background-color: #1A355D;
    color:white;
}



#footerP{
    color:#FFCE00;
}

#footerText{
    padding:10px;
    text-align:center;
}

a{
    color:white;
}

#donationDiv{
    margin: 10px auto;
}
